{% extends 'base-login-cadastro.html' %}
{% load static %} <!--Carregar arquivos estaticos -->
{% block 'titulo' %}Esqueci a senha{% endblock %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock %}

{% block 'body' %}
<div class="container d-flex mb-5">
    
    <section style="width: 100%;" class="d-flex justify-content-center align-items-center">
        <div style="width: 100%;">
            <div class="row" >
                <div class="col-12 col-sm-8 col-md-6 m-auto">
                    <div class="card border-0 shadow">
                        <div class="card-body ">
                            <form method="post" action="{% url 'password_reset' %}">
                                {% csrf_token %}
                                <h4 style="color:#404346">Informe o e-mail de recuperação</h4>
                                <div class="inputBox">
                                    <input type="email" id="email" name="email" class="form-control" required>
                                    <label for="email">Email:</label> 
                                    <button type="submit" class="mt-2 btn btn-primary">Enviar link de recuperação</button>
                                </div>
                            </form>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </section>
    
</div>
{% endblock %}
